
@{
    ViewBag.Title = "Index";
}

<h2>Asiakkaat, dynaaminen tapa Ajaxilla</h2>

<table class="table table-striped" id="customerList">
    <thead>
        <tr>
            <th>Asiakas-id</th>
            <th>Nimi</th>
            <th>Osoite</th>
            <th>Kaupunki</th>
        </tr>
    </thead>
    <tbody>   
    </tbody>
</table>

